/* Navbar.css */
.navbar {
    background-color: #004466;
    padding: 1rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 1rem;
  }
  
  .navbar-button {
    background-color: #3498db;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  